/* stuff goes above here */
#colorBlockred {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#colorBlockblue {
  width: 30px;
  height: 30px;
  background-color: blue;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#colorBlockgreen {
  width: 30px;
  height: 30px;
  background-color: green;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#colorBlockyellow {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.image-container {
  margin: 10px;
  max-width: 100%;
  height: auto;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.border {
  border: 6px solid indigo;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(2, 2, 2, 2);
}
.btndir {
  display: flex;
  flex-direction: row;
}
#images {
  max-height: 282px !important;
}
/* stuff goes below here */

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.mission {
  margin: 50px;
  border-style: solid;
  border-radius: 30px;
  width: 350px;
  background: rgb(228, 85, 148);
  background: radial-gradient(
    circle,
    rgba(228, 85, 148, 1) 0%,
    rgba(63, 137, 223, 1) 100%
  );
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}

.mission-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
  padding: 10px;
}

/* NAVABAR */
nav {
  display: flex;
  flex: 0;
  justify-content: space-between;
  margin: 0 10%;
}

nav h1 {
  font-size: 3rem;
  padding: 0.5rem;
  color: indigo;
}

nav .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 400px;
}

nav .buttons button {
  padding: 5px;
  margin: 5px 10px;
  min-width: 100px;
  min-height: 50px;
  background: none;
  border: none;
  color: indigo;
}

nav .buttons button:hover {
  color: rgb(161, 110, 197);
  cursor: pointer;
}

nav button i {
  font-size: 20px;
  padding: 3px;
  margin: 5px;
}

.mission:hover {
  box-shadow: 0 0 100px gold;
}

.coming-soon-box {
  border-style: solid;
  margin: 30px;
  background: rgb(228, 85, 148);
  background: radial-gradient(
    circle,
    rgba(228, 85, 148, 1) 0%,
    rgba(63, 137, 223, 1) 100%
  );
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}
