
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0px;
}

/* ////////////////  TSHIRT CARD ////////////////// */

#colorBlockred {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#colorBlockblue {
  width: 30px;
  height: 30px;
  background-color: blue;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#colorBlockgreen {
  width: 30px;
  height: 30px;
  background-color: green;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#colorBlockyellow {
  width: 30px;
  height: 30px;
  background-color: yellow;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.image-container {
  width: 300px;
  height: auto;
  padding: 0;
  border: 6px solid indigo;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(2, 2, 2, 2);
}

.image-container img {
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btndir {
  display: flex;
  flex-direction: row;
}
#images {
  max-height: 282px !important;
}


/* MISSION STATEMENT */

.mission {
  margin: 50px;
  border-style: solid;
  border-radius: 30px;
  width: 350px;
  background: rgb(228, 85, 148);
  background: radial-gradient(circle,rgba(228, 85, 148, 1) 0%,rgba(63, 137, 223, 1) 100%);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}
.mission-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
  padding: 10px;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
background-color: white;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  flex: 0;
  justify-content: space-between;
  border-bottom: 2px solid rgb(231, 207, 74);
  box-shadow: 0 3px 0 0 rgba(178, 176, 60, 0.162);
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: indigo;
  margin-left: 30px;
}

nav .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 400px;
  margin-right: 30px;
}

nav .buttons button {
  padding: 5px;
  margin: 5px 10px;
  min-width: 100px;
  min-height: 50px;
  background: none;
  border: none;
  color: indigo;
}

nav .buttons button:hover {
  color: rgb(161, 110, 197);
  cursor: pointer;
}

nav button i {
  font-size: 20px;
  padding: 3px;
  margin: 5px;
}
/* NAVBAR MODALS */
.size-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(94, 94, 94, 0.574);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.size-modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.size-modal {
  background-color: white;
  padding: 20px 40px;
  max-width: 100%;
  border-radius: 10px;
}

#close-modal {
  background-color: #47a386;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(137, 135, 135, 0.649);
  color: white;
  font-size: 0.75rem;
  padding: 5px 16px;
  margin: 10px 2px;
  float: right;
}

#close-modal:hover {
  cursor: pointer;
}

#close-modal:active {
  background-color: #2e6e5a;
  box-shadow: none;
}
/* ///////////////////////////////////////// */

.mission:hover {
  box-shadow: 0 0 100px gold;
}
.coming-soon-box {
  border-style: solid;
  margin: 0px;
  padding:0px;
  background: rgb(228, 85, 148);
  background: radial-gradient(circle,rgba(228, 85, 148, 1) 0%,rgba(63, 137, 223, 1) 100%);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}
.coming-soon-box h3 {
  color:white;
  font-family:cursive;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,45,45,1) 100%);
  box-shadow: black;
  border-radius:20px;
  width:200px;
  margin-left:45%;
}
.coming-soon-box h4 {
  color:indigo;
}
.boxes {
  display:inline;
  border-style:solid;
  border-radius:20px;
  
}
.boxes:hover {
  box-shadow: 0 0 100px gold;
}
